table {
  width: 950px;
  height: 154px;
  border: 1px solid #ccc; }
  table td {
    color: #666;
    font-size: 12px;
    text-align: center; }
  table .second_input {
    margin-left: 30px; }
  table .second_jia i {
    float: left;
    font-style: normal;
    width: 14px;
    line-height: 14px;
    border: 1px solid #d2d2d2; }
  table .second_jia .second_1i {
    margin-left: 30px; }
  table .second_jia span {
    width: 31px;
    line-height: 23px;
    border: 1px solid #d2d2d2;
    float: left;
    margin: 0 10px; }
  table .second_delect {
    float: left;
    width: 54px;
    line-height: 22px;
    background: #ededed;
    margin: 39px 0 0 30px; }
